<!DOCTYPE HTML>
<html>
<head>
<title>E-Commerce Products</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Armament Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- fonts -->
<link href="//fonts.googleapis.com/css?family=Gruppo" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<!-- /fonts -->
<!-- css -->
<link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link href='static/css/aos.css' rel='stylesheet prefetch' type="text/css" media="all" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- /css -->
<!-- js files -->
<script src="static/js/modernizr.js"></script>
<!-- /js files -->
</head>
<body>

<!-- banner section -->
<section class="banner-w3ls">
	<!-- navigation section -->
	<div class="navbar-wrapper">
		<div class="container">
			<nav class="navbar navbar-inverse navbar-static-top">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right cl-effect-20">
						<li class="active"><a href="/Userhome"><span data-hover="Home">Home</span></a></li>
						<li><a href="/profiledetails"><span data-hover="Profile">Profile</span></a></li>
						 <li><a href="/viewproducts"><span data-hover="View Products">View Products</span></a></li>
                        <li><a href="/myorder"><span data-hover="View Orders">View Orders</span></a></li>
                        <li><a href="/"><span data-hover="Logout">Logout</span></a></li>
					</ul>
				</div>
			</nav>

		</div>
	</div>
	<!-- /navigation section -->
	 <div class="slider">
        <ul class="slider-main">
            <li>
                <img src="static/images/shop1.jpg" alt="">
				<div class="container">
					<div class="banner-w3layouts1">
					</div>
				</div>
            </li>
            <li>
                <img src="static/images/shop3.jpg" alt="">
				<div class="container">
					<div class="banner-w3layouts1">
					</div>
				</div>
            </li>
            <li>
                <img src="static/images/shop4.jpg" alt="">
				<div class="container">
					<div class="banner-w3layouts1">
					</div>
				</div>
            </li>
            <li>
                <img src="static/images/shop2.jpg" alt="">
				<div class="container">
					<div class="banner-w3layouts1">
					</div>
				</div>
            </li>
        </ul>
    </div>
</section>
<!-- /banner section -->
<!-- specialities -->

<!-- /specialities -->
<!-- info section -->

<!-- /info section -->
<!-- blog section -->

<!-- /blog section -->
<!-- footer -->
<section class="footer-w3ls">
	<div class="container">
		<p class="footer-w3-agileits2">&copy; 2022 E-Commerce Products. All Rights Reserved | Design by E-Commerce Products</p>
	</div>
</section>
<!-- /footer -->
<!-- back to top -->
<a href="#0" class="cd-top">Top</a>
<!-- /back to top -->
<!-- js files -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/SmoothScroll.min.js"></script>
<script src="static/js/jquery.easing.min.js"></script>
<script src="static/js/grayscale.js"></script>
<!-- js for banner -->
<script src="static/js/osSlider.js"></script>
<script type="text/javascript">
    var slider = new osSlider({
        pNode:'.slider',
        cNode:'.slider-main li',
        speed:3000,
        autoPlay:true
    });
</script>
<!-- /js for banner -->
<!-- js for back to top -->
<script src="static/js/top.js"></script>
<!-- /js for back to top -->
<!-- js for stats section -->
<script type="text/javascript" src="static/js/numscroller-1.0.js"></script>
<!-- /js for stats section -->
<!-- js for specialities section -->
<script src="static/js/fsbanner.js"></script>
<script>
	$('#demo-3').fsBanner({'trigger':'mouse'});
</script>
<!-- /js for specialities section -->
<!-- js for search button -->
<script src="static/js/classie.js"></script>
<script src="static/js/uisearch.js"></script>
<script>
	new UISearch( document.getElementById( 'sb-search' ) );
</script>
<!-- /js for search button -->
<!-- js for bootstrap dropdown -->
<script src="static/js/index.js"></script>
<!-- /js for bootstrap dropdown -->
<script src='static/js/aos.js'></script>
<script src="static/js/index2.js"></script>
<!-- /js files -->
</body>
</html>
